body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.self-portrait {
    width: 150px;
}

.italic {
    font-style: italic;
}

.flex-container {
    background-color: #0096c7;
    width: 500px;
    height: auto;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    text-align: center;
    border-radius: 10px;
    border-bottom: 8px solid #4a4e69;
}